@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;

    /* grayscale */
    --color-almost-white: oklch(0.9702 0 0); /* #f5f5f5 */
    --color-shaded-white: oklch(0.8975 0 0); /* #dddddd */
    --color-dark-white: oklch(0.8452 0 0); /* #cccccc */
    --color-silver: oklch(0.7921 0 0); /* #bbbbbb */
    --color-silver-light: oklch(0.9491 0 0); /* #eeeeee */
    --color-pale-gray: oklch(0.738 0 0); /* #aaaaaa */
    --color-light-gray: oklch(0.683 0 0); /* #999999 */
    --color-medium-gray: oklch(0.5693 0 0); /* #777777 */
    --color-shaded-gray: oklch(0.5103 0 0); /* #666666 */
    --color-pale-black: oklch(0.3867 0 0); /* #444444 */
    --color-tinted-black: oklch(0.252 0 0); /* #222222 */
    --color-almost-black: oklch(0.1776 0 0); /* #111111 */

    --color-portfolio-black: oklch(0.1887 0.0038 48.51); /* #151312 */
    --color-portfolio-orange: oklch(0.6899 0.1798 40.16); /* #f46c38 */
    --color-portfolio-blue: oklch(0.7644 0.0922 225.42); /* #6dbfdf */

    /* animations */
    --animate-fade-in-up: fade-in-up 1s ease-in-out;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer components {
    .wrapper {
        @apply w-full max-w-[clamp(24.375rem,_90%,_120rem)] mx-auto px-6 lg:px-0;
    }
}