@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;

    /* grayscale */
    --color-almost-white: oklch(0.9702 0 0); /* #f5f5f5 */
    --color-shaded-white: oklch(0.8975 0 0); /* #dddddd */
    --color-dark-white: oklch(0.8452 0 0); /* #cccccc */
    --color-silver: oklch(0.7921 0 0); /* #bbbbbb */
    --color-silver-light: oklch(0.9491 0 0); /* #eeeeee */
    --color-pale-gray: oklch(0.738 0 0); /* #aaaaaa */
    --color-light-gray: oklch(0.683 0 0); /* #999999 */
    --color-medium-gray: oklch(0.5693 0 0); /* #777777 */
    --color-shaded-gray: oklch(0.5103 0 0); /* #666666 */
    --color-pale-black: oklch(0.3867 0 0); /* #444444 */
    --color-tinted-black: oklch(0.252 0 0); /* #222222 */
    --color-almost-black: oklch(0.1776 0 0); /* #111111 */

    --color-silver-tint: oklch(0.7743 0.0128 296.28 / 20%); /* #b6b4bd33 */

    --color-portfolio-black: oklch(0.1887 0.0038 48.51); /* #151312 */
    --color-portfolio-orange: oklch(0.6899 0.1798 40.16); /* #f46c38 */
    --color-portfolio-green: oklch(0.9281 0.2143 125.6); /* #c5ff41 */

    /* breakpoints */
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-xl: 75rem; /* 1200px */
    --breakpoint-2xl: 80rem; /* 1280px */
    --breakpoint-3xl: 90rem; /* 1440px */
    --breakpoint-4xl: 105rem; /* 1680px */
    --breakpoint-5xl: 120rem; /* 1920px */

    /* animations */
    --animate-fade-in-up: fade-in-up 1s ease-in-out;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer base {
    /* form */
    label {
        @apply font-poppins text-[.75rem]/[1.2] text-medium-gray;
    }
    input, select {
        @apply h-12;
    }
    textarea {
        @apply py-1 min-h-25 field-sizing-content resize-none;
    }
    input, select, textarea {
        @apply px-2.5 bg-silver-tint border border-shaded-gray rounded-[8px] text-white focus:outline-0 focus:border-portfolio-orange transition-all duration-300 ease-in-out;
    }
}

@layer components {
    .wrapper {
        @apply w-full max-w-[clamp(24.375rem,_90%,_71.25rem)] mx-auto px-6 lg:px-0;
    }
    /* form */
    .form-block {
        form {
            @apply grid grid-cols-1 md:grid-cols-2 gap-5;

            .form-field {
                @apply flex flex-col gap-2.5 justify-end;

                .helptext {
                    @apply font-poppins text-[.75rem]/[1.2] text-white;
                }
            }
            button[type="submit"] {
                @apply col-span-full cursor-pointer h-12 font-poppins font-medium text-[.875rem]/[1.2] bg-portfolio-orange text-white px-5 rounded-[8px] hover:bg-portfolio-orange/90 transition-colors duration-300;
            }
        }
    }
}