.struct-block {
    /* heading-block */
    @media (width >= 40rem) {
        &.heading-block {
            display: grid;
            grid-template-columns: 1fr 1fr;

            div[data-contentpath$="heading_text"] {
                grid-column: 1 / -1;
            }
        }

        /* container-block */
        &.container-block {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            div[data-contentpath$="layout"] {
                grid-column: 1 / -1;
            }

            div[data-contentpath$="columns"] {
                grid-column: 1 / -1;
            }
        }

        /* heading-with-two-lines-block */
        &.heading-with-two-lines-block {
            display: grid;
            grid-template-columns: 1fr 1fr;

            div[data-contentpath$="line_one"] {
                grid-column: 1 / -1;
            }

            div[data-contentpath$="line_two"] {
                grid-column: 1 / -1;
            }
        }

        /* box-block */
        &.box-block {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            div[data-contentpath$="direction"] {
                grid-column: 1 / -1;
            }

            div[data-contentpath$="content"] {
                grid-column: 1 / -1;
            }
        }

        /* box-grid */
        &.box-grid-block {
            display: grid;
            grid-template-columns: 1fr 1fr;

            div[data-contentpath$="layout"] {
                grid-column: auto;
            }

            div[data-contentpath$="content"] {
                grid-column: 1 / -1;
            }
        }

        &.article-card-block {
            display: grid;
            grid-template-columns: 1fr 1fr;

            div[data-contentpath$="heading"] {
                grid-column: 1 / -1;
            }

            div[data-contentpath$="paragraph"] {
                grid-column: 1 / -1;
            }

            div[data-contentpath$="link"] {
                grid-column: 1 / -1;
            }
        }
    }
}