{% load wagtailcore_tags form_tags %}

{% if self.form_page %}
{% with form_page=self.form_page.specific %}
{% with form=form_page.get_form %}
<div class="form-block">
    <form action="{% pageurl form_page %}" method="POST">
        {% csrf_token %}

        {% for field in form_page.form_fields.all %}
        {% with form_field=form|get_form_field:field.clean_name %}
        <div class="form-field {{ field.field_width }}">
            {{ form_field.label_tag }}
            <div class="helptext">{{ form_field.help_text }}</div>
            {{ form_field }}
            {{ form_field.errors }}
        </div>
        {% endwith %}
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
</div>
{% endwith %}
{% endwith %}
{% endif %}