<header class="fixed top-7.5 left-0 flex items-center w-full z-50">
    <nav class="flex gap-6 w-fit p-5 mx-auto rounded-[16px] bg-tinted-black shadow-2xl">
    {% for menu in menu %}
        <div class="relative *:[a]:flex *:[a]:items-center *:[a]:justify-center *:[a]:size-9 group">
            {% if menu.link_type == 'internal' %}
                <a href="{{ menu.page_link.get_url }}" title="{{ menu.link_text }}">
            {% elif menu.link_type == 'external' %}
                <a href="{{ menu.url }}" title="{{ menu.link_text }}" target="_blank" rel="noopener noreferrer">
            {% elif menu.link_type == 'mailto' %}
                <a href="mailto:{{ menu.mailto }}" title="{{ menu.link_text }}" target="_blank" rel="noopener noreferrer">
            {% endif %}

                <div class="*:[svg]:size-6 text-white">
                    {% include "blocks/includes/menu_icons.html" with icon=menu.icon %}
                </div>
                <div class="absolute bottom-0 left-1/2 -translate-x-1/2 py-1 px-2 rounded-[4px] bg-tinted-black opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:-bottom-12 transition-all duration-750 ease-in-out">
                    <p class="font-poppins font-normal text-[.875rem]/[1.2] text-white">{{ menu.name }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </nav>
</header>